---
import Dock from '@/components/Dock.astro';
import RsvpForm from '../components/RsvpForm';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="RSVP" description="Taylor and Josh's wedding RSVP page">
  <div class="px-8 pt-20 pb-10 items-center text-center text-black">
    <div class="w-full max-w-md mx-auto">
      <h1 class="font-body text-5xl tracking-wider mb-6">RSVP</h1>

      <p class="mb-4 text-xl">
        RSVP deadline: <strong>June 1, 2026</strong>
      </p>
      <p class="mb-8">
        If you'd like to attend our wedding, please fill out the form below. If you have additional
        guests such as children or your plus one, enter their names in the Guests field.
      </p>
      <RsvpForm client:load />
    </div>
  </div>
  <Dock active="RSVP" />
</BaseLayout>
