@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));
@plugin "@tailwindcss/typography";

@plugin 'daisyui' {
  themes: wedding --default;
}

@plugin "daisyui/theme" {
  name: 'wedding';
  default: true;
  --color-base-100: #f4f2eb;
  --color-base-200: oklch(93.982% 0.007 61.449);
  --color-base-300: #dad7cd;
  --color-base-content: #344e41;
  --color-primary: #a3b18a;
  --color-primary-content: #344e41;
  --color-secondary: oklch(89% 0.061 343.231);
  --color-secondary-content: oklch(45% 0.187 3.815);
  --color-accent: #d4a373;
  --color-accent-content: #68523c;
  --color-neutral: #344e41;
  --color-neutral-content: #dad7cd;
  --color-info: #729ea1;
  --color-info-content: #edf2f3;
  --color-success: #588157;
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: oklch(68% 0.162 75.834);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: #d74237;
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0rem;
  --size-selector: 0.28125rem;
  --size-field: 0.3125rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-sans: 'DM Sans', sans-serif;
  --font-serif: 'DM Serif Text', serif;
  --font-display: 'Playfair Variable', serif;
}

@layer base {
  body {
    background: var(--color-base-content);
    color: color-mix(in oklab, currentcolor 85%, transparent);
  }

  p {
    color: inherit;
  }

  label {
    font-size: 0.875rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
    font-weight: 700;
    letter-spacing: -0.025em;
    color: var(--color-base-content);
  }

  body,
  input,
  button,
  select,
  textarea {
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .input-border {
    border-style: solid;
  }
}

html {
  background: var(--color-base-content);
}

body {
  margin: 0;
  min-height: 100dvh;
  background: var(--color-base-200);
}

* {
  -webkit-font-smoothing: antialiased;
}

.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  clip-path: inset(50%);
}
