@import 'tailwindcss';
@plugin 'daisyui' {
  themes: custom-theme --default;
}
@plugin "daisyui/theme" {
  name: 'custom-theme';
  default: true;
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(26% 0.007 34.298);
  --color-primary: oklch(83% 0.128 66.29);
  --color-primary-content: oklch(26% 0.079 36.259);
  --color-secondary: oklch(78% 0.115 274.713);
  --color-secondary-content: oklch(25% 0.09 281.288);
  --color-accent: oklch(45% 0.124 130.933);
  --color-accent-content: oklch(96% 0.059 95.617);
  --color-neutral: oklch(26% 0.007 34.298);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(58% 0.158 241.966);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(62% 0.194 149.214);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}

@theme {
  --font-body: 'Playfair Variable', serif;
  --font-heading: 'Playball', sans-serif;
}

body {
  font-family: var(--font-body);
  margin: 0;
  min-height: 100dvh;
}

* {
  -webkit-font-smoothing: antialiased;
}
