@import 'tailwindcss';

@theme {
  --font-body: 'Playfair Variable', serif;
  --font-heading: 'Playball', sans-serif;
}

body {
  font-family: var(--font-body);
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
}
