---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Nav from "../components/astro/Nav.astro";
import Mountain from "@/svg/mountain.svg";

import Heart10 from "@/svg/hearts/heart-10.svg";
import { EngagementCarousel } from "@/components/react/EngagementCarousel";
import Footer from "@/components/astro/Footer.astro";
import Header from "@/components/astro/Header.astro";
---

<BaseLayout title="The Kolenkos" description="Taylor and Josh's wedding">
  <Nav />
  <main>
    <Header>
      <h1 class="visually-hidden">The Kolenkos</h1>
      <p
        class="font-serif text-center text-base-200 text-[clamp(1.75rem,3.5vw,3.5rem)] leading-[1.3em] tracking-tight max-w-[44ch] mx-auto"
      >
        You're invited to celebrate the wedding of <span class="lg:block">
          Taylor Diaz & Joshua Kolenko on September 17, 2026
        </span> at <a
          href="https://g.co/kgs/DBe6S4a"
          target="_blank"
          rel="noopener noreferrer"
          class="underline underline-offset-6 decoration-3">Lakeside Gardens in Portland, Oregon.</a
        >
      </p>
    </Header>
    <div class="bg-base-200 relative z-10 text-center pt-16 md:pt-28 pb-30 md:pb-46">
      <div class="px-8">
        <h2 class="font-serif text-4xl md:text-5xl lg:text-6xl mb-12 md:mb-16 lg:mb-20">
          We're getting married!
        </h2>
      </div>
      <div class="mx-auto">
        <EngagementCarousel client:load />
      </div>
      <div
        class="grid gap-16 md:gap-4 grid-cols-1 md:grid-cols-[1fr_auto_1fr] items-center justify-items-center mt-30 md:mt-48 max-w-[1600px] mx-auto px-10"
      >
        <div class="flex flex-col gap-8">
          <h3 class="font-sans wght-850 tracking-widest text-xl uppercase text-base-content/50">
            When
          </h3>
          <p
            class="font-serif text-4xl md:text-4xl lg:text-5xl xl:text-6xl text-base-content leading-13 xl:leading-20 -tracking-[0.0125em]"
          >
            Thursday <br /> September 17, 2026 <br /> 5:30pm
          </p>
        </div>
        <div class="relative w-10 md:top-8 overflow-visible">
          <Heart10 />
        </div>
        <div class="flex flex-col gap-8">
          <h3 class="font-sans wght-850 tracking-widest text-xl uppercase text-base-content/50">
            Where
          </h3>
          <p
            class="font-serif text-4xl md:text-4xl lg:text-5xl xl:text-6xl text-base-content leading-13 xl:leading-20 -tracking-[0.0125em]"
          >
            Lakeside Gardens <br /> 16211 SE Foster Rd <br /> Portland, OR 97236
          </p>
        </div>
      </div>
    </div>
  </main>
  <Footer>
    <h2 class="font-serif text-center text-4xl md:text-5xl text-balance mb-10">
      We'd love if you could join us.
    </h2>
    <a class="btn btn-neutral btn-lg w-full md:max-w-80 mx-auto" href="/rsvp">RSVP</a>
  </Footer>
</BaseLayout>
