---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Countdown from '../components/Countdown';
import ImageBackground from '../components/ImageBackground.astro';
import Champagne from '../svg/champagne.svg';

import engagement1 from '../images/engagement-1.jpg';
import engagement2 from '../images/engagement-2.jpg';
import engagement3 from '../images/engagement-3.jpg';
import engagement4 from '../images/engagement-4.jpg';

const date = new Date('2026-09-17T16:00:00Z');
const month = date.getMonth() + 1;
const day = date.getDate();
const year = date.getFullYear();

const images = [engagement1, engagement2, engagement3, engagement4];
---

<BaseLayout title="The Kolenkos" description="Taylor and Josh's wedding">
  <ImageBackground>
    <div
      class="px-5 pt-36 md:pt-80 pb-20 md:pb-30 flex flex-col items-center text-center h-full text-black"
    >
      <p class="font-body text-3xl md:text-4xl tracking-widest mb-4 md:mb-6">
        {month < 10 ? '0' + month : month} . {day} . {year}
      </p>
      <h1 class="text-5xl md:text-7xl font-heading mb-14">Taylor & Joshua</h1>
      <a
        href="/rsvp"
        class="font-bold md:text-lg mb-auto py-3 px-8 w-48 md:w-56 bg-black text-white hover:opacity-80"
      >
        RSVP
      </a>
      <Countdown client:only date={date} />
    </div>
  </ImageBackground>
  <div class="flex flex-col items-center relative pt-30 md:pt-44 pb-12 px-12 text-center">
    <div class="absolute left-1/2 -translate-1/2 w-[210px] md:w-[320px] top-0"><Champagne /></div>
    <h2 class="font-heading text-3xl md:text-5xl mb-6 md:mb-10">We're getting married!</h2>
    <div class="mx-auto max-w-[36ch] md:max-w-[60ch] -top-9 mb-12 md:mb-18">
      <p class="md:text-xl leading-6 tracking-tight">
        After 8 wonderful years, we got engaged on <strong>December 28, 2024</strong>. Just a few
        days after our favorite holiday and in front of loved ones, we (<span class="italic"
          >finally</span
        >) became Fiancé and Fianceé.
      </p>
      <p class="mt-4 md:mt-8 tracking-tight text-xl md:text-2xl leading-5">
        Next stop: <strong>Husband and Wife</strong>
      </p>
    </div>
    <div class="flex flex-col md:flex-row md:max-w-[1600px]">
      {
        images.map(image => {
          return (
            <div class="w-full">
              <Image
                src={image}
                class="w-full"
                alt="Taylor and Joshua Kolenko Engagement Picture"
                quality={100}
              />
            </div>
          );
        })
      }
    </div>
  </div>
</BaseLayout>
