---
import BaseLayout from '@/layouts/BaseLayout.astro';
import EngagementImages from '@/components/astro/EngagementImages.astro';
import Mountain from '@/svg/mountain.svg';
import Hills from '@/svg/hills.svg';
import Vine from '@/svg/vine.svg';
import Nav from '../components/astro/Nav.astro';
---

<BaseLayout title="The Kolenkos" description="Taylor and Josh's wedding">
  <Nav />
  <main>
    <div class="bg-base-content pt-18 md:pt-48 px-8 pb-20">
      <h1 class="visually-hidden">The Kolenkos</h1>
      <p
        class="font-serif text-center text-base-200 text-[clamp(1.75rem,4vw,3rem)] leading-[1.3em] tracking-tight md:max-w-full mx-auto"
      >
        You're invited to celebrate the wedding of <span class="lg:block">
          Taylor Diaz & Joshua Kolenko on September 17, 2026
        </span> at <span class="underline underline-offset-6 decoration-3"
          >Lakeside Gardens in Portland, Oregon.</span
        >
      </p>
    </div>
    <div
      class="bg-base-content relative w-full h-32 lg:h-auto overflow-hidden lg:overflow-visible -mt-[1px]"
    >
      <Mountain
        class="min-w-5xl w-full absolute lg:relative left-1/2 lg:left-0 -translate-x-1/2 lg:translate-0 fill-base-200 top-[1px]"
      />
    </div>
    <div class="pt-24 px-8 pb-20 bg-base-200 relative z-10 text-center">
      <h2 class="font-serif text-4xl sm:text-5xl md:text-6xl mb-20 md:mb-28">The engagement</h2>
      <EngagementImages />
      <div
        class="grid gap-8 md:gap-4 grid-cols-1 md:grid-cols-[1fr_auto_1fr] items-center justify-items-center mt-46 max-w-7xl mx-auto"
      >
        <div class="flex flex-col gap-8">
          <h3 class="font-sans font-black tracking-widest text-xl uppercase text-base-content/50">
            When
          </h3>
          <p class="font-serif text-4xl lg:text-5xl leading-12 lg:leading-16">
            Thursday <br /> September 17, 2026 <br /> 4:00pm
          </p>
        </div>
        <div class="relative w-20 md:w-14 lg:w-16 md:top-8 rotate-90 md:rotate-0">
          <Vine />
        </div>
        <div class="flex flex-col gap-8">
          <h3 class="font-sans font-black tracking-widest text-xl uppercase text-base-content/50">
            Where
          </h3>
          <p class="font-serif text-4xl lg:text-5xl leading-12 lg:leading-16">
            Lakeside Gardens <br /> 16211 SE Foster Rd <br /> Portland, OR 97236
          </p>
        </div>
      </div>
    </div>
    <div
      class="bg-base-200 relative w-full h-24 lg:h-auto overflow-hidden lg:overflow-visible -mt-[1px]"
    >
      <Hills
        class="min-w-5xl w-full absolute lg:relative left-1/2 lg:left-0 -translate-x-1/2 lg:translate-0 fill-primary top-[1px]"
      />
    </div>
    <div class="bg-primary pt-10 px-12 pb-30 flex flex-col">
      <h2 class="font-serif text-center text-4xl md:text-5xl text-balance mb-10">
        We'd love if you could join us.
      </h2>
      <a class="btn btn-neutral btn-lg w-full md:max-w-80 mx-auto" href="/rsvp">RSVP</a>
    </div>
  </main>
</BaseLayout>
