---
import { SignIn } from "@clerk/astro/components";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout>
  <div class="flex items-center justify-center min-h-80">
    <SignIn routing="path" path="/login" transferable={false} withSignUp={false} />
  </div>
</PageLayout>
