---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Plan Your Stay" description="Plan your stay in in Portland, Oregon">
  <div class="prose text-center mx-auto">
    <h1>Plan Your Stay</h1>
    <p>
      We are so excited to celebrate our wedding with you in Portland, Oregon! To help you plan your
      visit, we've put together some information about accommodations, transportation, and things to
      do in the area.
    </p>
    <div class="divider"></div>
  </div>
</BaseLayout>
