---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="RSVP" description="Taylor and Josh's wedding RSVP page">
  <div class="px-5 py-12 h-screen flex flex-col items-center text-center text-black">
    <h1 class="mt-12 font-body text-5xl tracking-wider mb-16">RSVP</h1>
    <p class="mb-20">This page is a work in progress! Check back soon :)</p>
    <a
      href="/"
      class="cursor-pointer mb-auto border-black border-2 px-16 py-5 font-body font-bold text-2xl hover:bg-black hover:text-white transition-colors"
    >
      Back
    </a>
  </div>
</BaseLayout>
