---
import RsvpForm from "../components/react/RsvpForm";
import PageLayout from "@/layouts/PageLayout.astro";
---

<PageLayout title="RSVP" description="Taylor and Josh's wedding RSVP page">
  <h1 slot="header" class="text-center text-base-200 text-5xl md:text-6xl">RSVP</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 md:gap-16 lg:gap-30 justify-center">
    <div class="prose prose-headings:mt-3 prose-headings:mb-2 mb-12 md:mb-0">
      <h2 class="text-4xl">RSVP</h2>
      <p>verb / <strong>ahr - es - vee - pee</strong></p>
      <p>
        Abbreviation for the French saying "Répondez s'il vous plaît", which translates to:
        "Respond, if you please".
      </p>
      <div class="divider"></div>
      <h2>Instructions</h2>
      <p>
        Please fill out the RSVP form <span class="md:hidden">below</span> to let us know if you will
        be attending our wedding. Be sure to include any guests you would like to bring, any dietary restrictions
        we should be aware of or any other information.
      </p>
      <p>
        We can't guarantee that all guests are able to attend, we will do our best to accommodate
        everyone.
      </p>
      <h2>RSVP deadline</h2>
      <p>June 1, 2026</p>
      <h2>Wedding information</h2>
      <ul class="list-none p-0">
        <li class="flex gap-2 items-start wght-400">
          <i class="ph-bold ph-calendar relative top-1 text-lg shrink-0"></i>September 17, 2026
        </li>
        <li class="flex gap-2 items-start wght-400 leading-6">
          <i class="ph-bold ph-map-pin relative top-1 text-lg shrink-0"></i>
          <a
            class="flex flex-col underline-offset-3 text-[inherit]"
            href="https://g.co/kgs/DBe6S4a"
            target="_blank"
            rel="noopener noreferrer"
          >
            Lakeside Gardens<br /> 16211 SE Foster Rd Portland, OR 97236
          </a>
        </li>
      </ul>
    </div>
    <div class="divider md:hidden"></div>
    <div class="mt-8 md:mt-0">
      <RsvpForm client:load />
    </div>
  </div>
</PageLayout>
