---
const { active } = Astro.props;

const pages = [
  { name: 'Home', href: '/', icon: 'ph-house' },
  { name: 'RSVP', href: '/rsvp', icon: 'ph-envelope' },
];
---

<div class="dock md:dock-xl">
  {
    pages.map(page => {
      return (
        <a href={page.href} class={`dock-item ${active === page.name ? 'dock-active' : ''}`}>
          <i class={`ph-fill ${page.icon}`} />
          <span class="dock-label font-bold">{page.name}</span>
        </a>
      );
    })
  }
</div>
