---
import { Image } from 'astro:assets';
import background from '../images/background.jpg';
---

<div
  class="relative flex items-end md:items-center inset-0 max-h-[700px] md:max-h-[950px] overflow-hidden"
>
  <Image
    src={background}
    alt="Joshua and Taylor Kolenkos"
    class="object-cover w-full h-full min-h-[800px] md:min-h-[1200px]"
    loading="eager"
    quality={100}
    priority={true}
  />
  <div class="absolute inset-0">
    <slot />
  </div>
</div>
