---
// Supports weights 400-900
import '@fontsource-variable/playfair';
import '@fontsource/playball';
import '@phosphor-icons/web/light';
import '@phosphor-icons/web/bold';
import '@phosphor-icons/web/fill';

import '../styles/global.css';

import playballWoff2 from '@fontsource/playball/files/playball-latin-400-normal.woff2';

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <link rel="preload" as="font" type="font/woff2" href={playballWoff2} crossorigin="anonymous" />
  </head>
  <body class="bg-base-200">
    <div class="pb-12">
      <slot />
    </div>
  </body>
</html>
